.titulo {
    font-size: x-large;
    margin-right: 32px;
}

.container {
    border: 2px solid #4a9b08;
    width: 30%;
    border-radius: 15px;
    padding: 20px;
    margin-top: 5%;
}

#imgUser {
    border-radius: 50%;
    border: 1px solid #e2d589;
    width: 244px;
}